/* Estilo de presentación */
#FondoBienvenida {
    background-image: url(./IMAGENES/Central/imagenCentral.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#divBienvenida {
    height: 25em;
}

.fondoProductos {
    background-color: black;
}

.contenedorTexto {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#textoBienvenida {
    text-align: center;
}


/* Estilo de Cards - Productos */
.cardsGenerales {
    border: none;
    background: transparent;
    padding: 1em;
    margin: none;
    color: white;
}

#product-1 {
    background-image: url(./IMAGENES/Productos/Producto1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#product-2 {
    background-image: url(./IMAGENES/Productos/Producto2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#product-3 {
    background-image: url(./IMAGENES/Productos/Producto3.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#product-4 {
    padding: 2em;
    border-radius: 50%;
}

#card-4 {
    background-color: #BCA177;
}

.productos-cards {
    display: flex;
    background-color: black;
    height: 25rem;
}

.productos-img {
    width: 100%;
}

.productos-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    padding: 4em;
}

.alfajores-img {
    background-color: #856B4F;
}

.alfajores-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #BCA177;
}

.textoAdicionalProductos {
    color: #BCA177;
    font-weight: 700;
}

#divAlfajor {
    padding: 4em;
}

#tituloAlfajor {
    color: #663F13;
}

#textoAdicionalAlfajores {
    color: #663F13;
    font-weight: 700;
}


/* Botones */
#buttonConocer {
    border-radius: 2em;
    opacity: 0.75;
    font-weight: 600;
}

.botonMasInfo {
    color: #BCA177;
    border: solid;
    width: fit-content;
}

.botonAlfajores {
    border: solid;
    color: #663F13;
    width: fit-content;
}

.botonReceta {
    color: #663F13;
    border: solid;
    width: fit-content;
    margin-bottom: 2em;
}


/* Barras de Separación */
.productsBar {
    background-color: #5A5454;
}

.productsBar>p {
    color: white;
    padding: 0.75em;
    text-align: center;
    margin: 0;
}


/* Características */
#caracteristicas {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #312F2F;
}

#caracteristicas>div>img {
    width: 6em;
    margin: 2em;
}

.productsBar1>h4 {
    text-align: center;
    color: white;
    padding: 1.5em;
    margin-bottom: 0;
    background-color: #312F2F;
    font-family: sans-serif;
    font-weight: bold;
    font-size: large;
}

.productsBar1>h2,
#recetas {
    text-align: center;
    color: white;
    padding: 2em 0em 0.7em;
    margin-bottom: 0;
    background-color: #312F2F;
    font-family: sans-serif;
    font-weight: bold;
    font-size: x-large;
}

#caracteristicas>div>p {
    color: #BCA177;
    text-align: center;
}


/* Formulario */
.seccionForm {
    display: flex;
    flex-wrap: nowrap;
}

.imgForm {
    width: 50%;
}

.textoForm {
    color: #856B4F;
}

.form-control {
    background-color: #856B4F;
    height: 1em !important;
}

#formulario {
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 5%;
    width: 50%;
}

#pForm {
    font-weight: bold;
    padding-bottom: 5%;
}


/* Recetas */
#recetas {
    background-color: #191717;
}

.cardRecetas {
    background-color: #BCA177;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-group {
    background-color: #191717;
}

.recetasText {
    color: white;
}

.card-title {
    color: #663F13;
}

.recetasFondo {
    border: 0;
    background-color: #BCA177;
}


/* Footer */
footer {
    height: 10em;
    background-color: #090909
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #090909;
    padding: 2em;
}

.logoFooter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuFooter,
.redes {
    display: flex;
    flex-direction: column;
}

.footerNav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-decoration: none;
}

.footerNav>a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
    padding: 0.5em;
    margin-bottom: 1em;
}

.ubicación {
    display: flex;
    align-items: center;
}

.footer-titles {
    color: #BCA177;
}

.redes {
    display: flex;
    align-items: center;
    color: white;
    padding: 0.5em;
    margin-bottom: 1em;
}

.redes>a {
    padding: 1em;
}

.fa-brands {
    color: white;
}

.derechos {
    text-align: center;
    background-color: #BCA177;
    color: white;
}



/* Media Query */
@media screen and (min-width: 480px) and (max-width: 940px) {
    #FondoBienvenida {
        background-size: initial;
    }

    #tituloBienvenida {
        text-align: center !important;
    }


    /* Productos */
    .productos-text {
        width: 100% !important;
    }

    .textoAdicionalProductos {
        text-align: center;
    }

    #product-1 {
        background-image: url(./IMAGENES/Productos/Producto1.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    #product-2 {
        background-image: url(./IMAGENES/Productos/Producto2.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    #product-3 {
        background-image: url(./IMAGENES/Productos/Producto3.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .card-text {
        display: none;
    }


    /* Características */
    .logo {
        margin: 1em !important;
    }


    /* Formulario */
    .imgForm {
        display: none;
    }

    #formulario {
        width: 100%;
        padding: 2em;
    }


    /* Recetas */
    .recetasFondo {
        margin: 0 !important;
    }

    /* Footer */
    .menuFooter {
        display: none;
    }

    .text-center {
        display: none;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .footer-titles {
        display: none;
    }

    .redes {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 1em;
    }
}

@media screen and (min-width: 941px) and (max-width: 1300px) {
    #fondoBienvenida {
        height: 100%;
    }

    #contenedorBienvenida {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
    }

    .contenedorTexto {
        margin: 2rem;
    }
}

@media screen and (min-width: 1301px) {
    .navbar {
        height: 15vh;
    }

    .navbar-nav {
        font-size: large;
    }

    .navbar-brand {
        font-size: 2em;
    }

    .nav-link {
        font-size: 1.3em;
    }

    #navbarNav {
        display: flex;
        justify-content:flex-end;
        padding-right: 4em;
    }

    .logo-header {
        width: 100px !important;
        height: 100px !important;
    }

    #contenedorBienvenida {
        display: flex;
        justify-content: center;
    }

    .contenedorTexto {
        margin: 4rem;
    }

    .tarjetaProductos {
        height: 60vh;
    }
}